# Data Engineer Interview Questions

Please read the questions and place your answer in the code cell below. 

Feel free to use any resources available to you during the interview. This includes searching on the internet and asking us for any clarification on these questions.

Q-1. Write a SQL query to fetch records that are present in one table but not in another table.

Q-2. Write SQL command(s) to delete certain records from a hive table (for example, can use filter where line_of_business='Medicare') ?

Q-3. What is wrong with this SQL statement ?  select count(1), name from employee;

Q-4. What tool(s) have you used to automate ETL pipelines in production ?

Q-5. Write Hadoop hdfs commands to look at list of HDFS files for table A

Q-6. What Hive/SQL command will you use to serach and replace a pattern in a string ?

Q-7. What is node and cluster in Hadoop?

Q-8. How would you export the data in a hive table in Hadoop to a CSV file ?

Q-9. What are the ways to improve performance of ETL pipelines in Hadoop, so they complete in a reasonable amount of time ?

Q-10. If there is a huge table with billions of records, what is the most efficient way to create the table in Hadoop  for better performance ? (while running queries against this table)